.container {
  display: flex;
  align-items: flex-start;  
  height: 100vh;           
  margin-top: 0vh;        
  width: 100%;
}
  
  .leftSide {
    width: 50%;             
    text-align: left;       
  }
  
  .rightSide {
    width: 50%;           
    text-align: right;      
  }
  