/* Card.module.css */

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  background-color: #ded1c2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px auto;
  transition: border-color 0.3s ease;
  font-family: Arial; /* הגדרת גופן Arial לכל הכרטיסיה */
  color: black; /* הגדרת צבע טקסט שחור לכל הטקסט */
}

.h2,
.h3,
.h4,
.card p,
.card ul li {
  font-family: Arial; /* יישור לכל הטקסט לגופן Arial */
  color: black; /* צבע שחור לכל סוגי הטקסט */
  margin: 4px 0; /* מרווח אחיד בין האלמנטים */
  font-size: 18 px;
}

.selected {
  border: 2px solid #8b4513; /* מסגרת חומה כהה */
  background-color: #ab9b89; /* רקע חום בהיר */
}

.editMode {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editMode input {
  font-family: Arial, sans-serif; /* גופן של שדות הטקסט בעריכה */
  color: black; /* טקסט שחור בעריכה */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.buttonGroup {
  display: flex;
  gap: 8px;
}

.button {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* גופן של הכפתורים */
}

.saveButton {
  background-color: black;
  color: white;
}

.cancelButton {
  background-color: black;
  color: white;
}

.saveButton:hover,
.cancelButton:hover {
  background-color: #333; /* שינוי צבע רקע על ריחוף */
}

.fav-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  margin-top: 10px;
  color: black; /* צבע שחור לאייקון */
}
