.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px auto;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;
  }
  
  .card p {
    font-size: 1em;
    color: #666;
    margin: 4px 0;
  }
  .selected {
    border: 2px solid blue; /* צבע גבול עבור כרטיס נבחר */
    background-color: #e0f7fa; /* צבע רקע קל לכרטיס נבחר */
  }
  