html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* מונע גלילה לצדדים */
  box-sizing: border-box;
}

.titleWrapper {
  width: 100%; /* מבטיח שהכותרת תישאר בתוך המיכל הראשי */
  display: flex;
  justify-content: center; /* מרכז את התוכן */
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-sizing: border-box; /* מונע גלילה מיותרת */
  background-color: transparent; /* הסרת הרקע השחור */
}

.container {
  display: flex;
  flex-direction: column; /* מסדר את ה-Title למעלה ואת שאר התוכן מתחת */
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.background {
  background-image: url('../../../public/images/cd5f5011e548b72e2dc93a05660af767.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* שינוי ל-100vh כדי לוודא שהתוכן לא חורג */
  width: 100vw; /* שינוי ל-100vw כדי למנוע גלילה אופקית */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.activityContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px; /* הפחתת רווח כדי למנוע גלילה */
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden; /* הוספתי למנוע גלילה אופקית בתוך הקונטיינר */
}