.container {
  display: flex;
  flex-direction: row; /* יצירת עמודה אופקית */
  justify-content: space-between; /* פיזור האלמנטים */
  align-items: flex-start; /* יישור למעלה */
  padding: 20px;
  height: 100vh;
}

.categories, .leftSide, .rightSide {
  margin-top: 20px; /* מרווח מלמעלה כדי למנוע חפיפה */
}



