html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* מונע גלילה לצדדים */
  box-sizing: border-box;
}

.titleWrapper {
  width: 100%; /* מבטיח שהכותרת תישאר בתוך המיכל הראשי */
  display: flex;
  justify-content: center; /* מרכז את התוכן */
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 0px;
  box-sizing: border-box; /* מונע גלילה מיותרת */
}

.container {
  display: flex;
  flex-direction: column; /* מסדר את ה-Title למעלה ואת שאר התוכן מתחת */
  justify-content: flex-start;
  padding: 10px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.background {
  background-image: url('../../../public/images/cd5f5011e548b72e2dc93a05660af767.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* שינוי ל-100vh כדי לוודא שהתוכן לא חורג */
  width: 100vw; /* שינוי ל-100vw כדי למנוע גלילה אופקית */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.activityContainer {
  height: 100%; /* גובה מלא */
  display: flex;
  flex-direction: row;
  align-items: stretch; /* מבטיח שהאלמנטים יהיו בגובה אחיד */
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  
}

.leftSide {
  width: 80%; 
  align-items: flex-start;
  justify-content: flex-end;
  display: flex;
  margin-top:0%;
  height: 100%; /* הוספת גובה מלא */


}

.categories {
  width: 20%; /* תופס את ה-30% הנותרים */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 100%; /* גובה מינימלי לכל האלמנט */
  margin-top: 0%;
}
