.categoryItem {
  margin-bottom: 10px; /* ריווח בין קטגוריות */
}

.categoryButton {
  width: 100%;
  padding: 10px;
  background-color: #d1c1ac;
  color: #333;
  border: 2px solid #937865;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categoryButton:hover {
  background-color: #c2b0a3;
  color: white;
  border-color: #ac8b7c;
}

.categoryButton:active {
  background-color: #a78170;
  border-color: #a37e64;
  transform: scale(0.98);
}

.active {
  background-color: #f5deb3;
  color: #333;
  border-color: #f6c8a7;
  font-weight: bold;
}
