.categoryItem {
  margin-bottom: 10px; /* ריווח בין קטגוריות */
}

.categoryButton {
  width: 100%;
  padding: 10px;
  background-color: #d2b48c;
  color: #333;
  border: 2px solid #8b4513;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categoryButton:hover {
  background-color: #8b4513;
  color: white;
  border-color: #a0522d;
}

.categoryButton:active {
  background-color: #a0522d;
  border-color: #8b4513;
  transform: scale(0.98);
}

.active {
  background-color: #f5deb3;
  color: #333;
  border-color: #8b4513;
  font-weight: bold;
}
