.leftSide {
  width: 70%; 
  height: 100vh; 
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.leftSide h2 {
  text-align: right; 
  font-family: Arial, sans-serif; 
  color: black; 
  margin-bottom: 16px; 
}

.favoriteIcon {
  cursor: pointer;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  margin-bottom: 10px; 
}

.plus-icon {
  color:#644b2e;
  
}

.addButton {
  background-color: #f0f0f0; 
  border: none;         
  padding: 10px;          
  border-radius: 5px;        
  cursor: pointer;
}
