.leftSide {
    width: 70%; /* מרחיב את הקומפוננטה ל-50% מרוחב העמוד */
    height: 100vh; /* הגדרה שתכסה את כל גובה החלון */
    border: 2px solid black;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* הוספת צל */
  }
  
  
  ul {
    list-style-type: none; /* ביטול הנקודות */
    padding: 0; /* ביטול הרווח הפנימי */
  }
  
  li {
    margin-bottom: 10px; /* רווח תחתון בין הכרטיסיות */
  }
  