.RightSide {
    position: relative; 
    width: 100%; 
    margin-top: 0; 
    padding: 10px;
    height: 100%; 
    overflow-y: auto; 
    border: 2px solid black;
    box-sizing: border-box; 
}

.CardContainer {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding-top: 10px; 
}
